# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\JoannaFiorellaBULLAB\Desktop\bootcamp-main\Topic3\JUnit-Ejemplo\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
